body {
    background-image: url('./img/fundo.jpg');
}
h1 {
  color: white;
  text-align: center; 
}
h2 {
  color: white;
  text-align: center; 
}
p {
  color: white;
  text-align: center; 
}
datalist{
  
}
input{

}
button {
  background-color:red;
  color:white;

}