@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:ital,wght@0,300;0,500;1,700&display=swap');

* {
  letter-spacing: 0 !important;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #4f4045;
}
section {
  color: white;
  padding-top: 4px;
}

div.menu {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
 margin: 0px 0px 16px;
  margin-top: 15px;
}
div.three {
  background-color: black;
  padding: 32px;
  padding-top: 24px;
  padding: 70px 45px;
}
div.four {
  background-color: black;
  padding: 32px;
  padding-top: 24px;
  padding: 70px 45px;
}
div.five {
  background-color: black;
  padding: 32px;
  padding-top: 24px;
  padding: 70px 45px;
}
div.six {
  background-color: black;
  padding: 32px;
  padding-top: 24px;
  padding: 70px 45px;
}
div.questions {
  background-color: black;
  padding: 70px 15%;
}
div.end {
  background-color: black;
  padding: 70px 45px;
  font-size: 1em;
  -webkit-text-size-adjust: 100%;
}

div.navbar {
  background-color: transparent;
  margin: 15px 0px 16px;
  max-width: 100%;
  transition: background-color 0.5s;
  z-index: 10;
  align-items: flex-start;
}
div.navbar-container {
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  margin: 15px 0px 16px;
 max-width: 100%;
  transition: background-color 0.5s;
  z-index: 10;
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  height: auto;
  justify-content: flex-start;
  padding-top: 0.5rem;
  position: relative;
}

input#email {
  float: right;
  appearance: none;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-size: 16px;
  padding: 10px 11px;
  line-height: normal;
  font-family: 'Open Sans', sans-serif;
  vertical-align: top;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 60px;
  min-width: 450px;

}

button#submit {
  font-family: 'Open Sans', sans-serif;
  border-left: 1px solid #333;
  background: #f40612;
  color: #fff;
  box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
  min-height: 60px;
  padding: 0px 2em;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  margin: 0.25em auto;
  width: auto;
  min-width: 74px;
  position: relative;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  box-sizing: border-box;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: button;
  margin-left: 65%;
  rgin-top: -6%;
  text-align: center;
  font-size: 22px;
}
.header {
  background-repeat: no-repeat;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0,
      transparent 60%,
      rgba(0, 0, 0, 0.8)
    ),
    url('./img/fundo.jpg');
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 11%;
  font-weight: bold;
  max-width: 806px;
  font-size: 3.125rem;
  line-height: 1.1;
  margin-left: 13%;
}
h1-menu {
  color: #333;
  direction: ltr;
  font-family: 'Open Sans', sans-serif;
  font-size: larger;
}
h1-section {
  margin: 0 auto;
  max-width: 950px;
  padding: 75px 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
}
h1-esquerda {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1;
  font-size: 50px;
  margin-bottom: 0.5rem;
  font-weight: 500;


  margin-inline-start: 111px;
  margin-inline-end: 0px;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  direction: ltr;
}
h1-direita {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  margin: 0 0 0.4em;
  font-weight: 500;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  direction: ltr;
  -webkit-text-size-adjust: 100%;
  margin-left: 53%;
}
h2-esquerda {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  margin: 0.75em 0 0.25em;
  display: block;
  margin-block-start: 0.83em;
  margin-inline-start: 105px;
  margin-inline-end: 0px;
  direction: ltr;
  -webkit-text-size-adjust: 100%;
}
h2-direita {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  margin: 0.75em 0 0.25em;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  direction: ltr;
  -webkit-text-size-adjust: 100%;
  margin-left: 53%;
}

h2 {
  color: #fff;
  direction: ltr;
  font-size: 1.625rem;
  margin: 1rem auto;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-text-size-adjust: 100%;
  margin-left: 7%;
  margin-top: -1%;
}

h2-menu {
  align-items: center;
  color: blue;
  border-color: #fff;
  font-weight: 700;
  justify-content: center;
  display: inline-block;
  min-height: 3px;
  min-width: 98px;
  padding: 12px 1em;
  width: auto;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}
h2-section {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
}

h3,
h3 > a {
  direction: ltr;
  font-family: 'Open Sans', sans-serif;
  color: #737373;
}

li {
  color: #737373;
  direction: ltr;
  padding-top: 4px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 13px;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 0 10%;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  font-weight: unset;
  margin-left: 7%;
}
datalist {
  line-height: 1.3em;
  overflow: hidden;
  padding: 0.5rem 1.375rem;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  white-space: nowrap;
  text-indent: 0;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #aaa;
  color: #fff;
  font-size: 0.875rem;
  text-indent: 2px;
  font-family: 'Open Sans', sans-serif;
}

input#inputIdiomaSuperior {
  background-color: black;
  color: white;
  line-height: 2.3em;
  overflow: hidden;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  float: right;
  rgin-top: inherit;
  justify-content: space-between;
  margin-left: 45%;
  margin-top: 61px;
}

input#inputOpcao {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  background-color: black;
  color-text: gray;

}

button#menu {
  background-color: #e50914;
  border-radius: 17px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.5rem 1rem;
 padding: 0.2rem 0.5rem;
  text-transform: uppercase;
}
button#btnSubmit {
  background-color: #e50914;
  float: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  padding: 7px 17px;
  margin-top: 61px;
  white-space: nowrap;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-left: 30px;
}
.img1 {
  margin-left: 40%;
   rgin-top: -11%; 
  position: relative;
  border: 0;
  width: 61%;
}
.img2 {
  max-width: 100%;
  margin-left: -3%;
  rgin-top: -1%;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #555555;
  border-top: solid black 1px;
}

.questions p {
  //margin: 20px 0px;
  padding: 0px;
}

.end h3 {
  rgin-left: 5%;
}

.end h3,
.end a {
  color: rgb(179 179 179);
}

div.lista-menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

div.lista-menu li {
  color: rgb(179 179 179);

  font-size: 14px;
  height: 50px;
  box-sizing: border-box;
  width: 33%;
  text-align: left;
  margin: 0 0 10px 0;
  height: auto;
}
@media (max-width: 700px) {

 
  h1 {
    font-size: 150%;
    margin: auto;
  }

  h2 {
    font-size: 90%;
    margin: 1rem;
  }
  h1-direita {
    font-size: 150%;
    margin: auto;
  }
  h1-esquerda {
    font-size: 150%;
    margin: auto;
  }

  h2-direita {
    font-size: 90%;
    margin: 1rem;
  }
  h2-esquerda {
    font-size: 90%;
    margin: 1rem;
  }

  input#email {
    margin-top: 96px;
    margin-right: 33%;
    padding: 10px;
    height: 57px;
    min-width: 22px;
  }
  button#submit {
    margin-left: 68%;
    margin-top: -23%;
    font-size: 14px;
   margin-right: 1px;
    padding: 7px 17px;
  }
  input#inputIdiomaSuperior {
    margin-left: -64px;
    height: 29px;
  }
  img {
    margin-left: -42px;
    margin-top: -13px;
    height: 87px;
  }
}
