body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #4f4045;
}
section {
  color: white;
  padding-top: 4px;
}

.div#menu {
  text-size-adjust: 100%;
  background-color: white;
  height: 100%;
  width: 100px;
  margin: 20%;
  padding: 20%;
}
div.three {
  background-color: black;
  padding: 32px;
  padding-top: 24px;
  padding: 70px 45px;
}
div.four {
  background-color: black;
  padding: 32px;
  padding-top: 24px;
  padding: 70px 45px;
}
div.five {
  background-color: black;
  padding: 32px;
  padding-top: 24px;
  padding: 70px 45px;
}
div.six {
  background-color: black;
  padding: 32px;
  padding-top: 24px;
  padding: 70px 45px;
}
div.questions {
  background-color: black;
  padding: 32px;
  padding-top: 24px;
  padding: 70px 45px;
}
div.end {
  background-color: black;
  padding: 32px;
  padding-top: 24px;
  padding: 70px 45px;
}
.header {
  background-image: url('./img/fundo.jpg');
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  color: white;
  text-align: center;
  font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 50px 10%;
  font-weight: bold;
}
h1-menu {
  color: #333;
  direction: ltr;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 16px;
  font-size: 1.1rem;
}
h1-section {
  margin: 0 auto;
  max-width: 950px;
  padding: 75px 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
  color: #fff;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
}

h2 {
  color: #fff;
  direction: ltr;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 16px;
  text-align: center;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2-menu {
  align-items: center;
  color: inherit;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  border: 0;
  color: #0071eb;
  margin-left: 0;
  text-decoration: none;
}
h2-section {
  color: white;
  font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
}
p {
  font-size: 1.2rem;
  max-width: none;
  padding-bottom: 20px;
}
datalist {
}
input {
}
button {
  background-color: red;
  color: white;
  cusor: pointer;
}
button#menu {
  background-color: #e50914;
  border-radius: 17px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.5rem 1rem;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
}
.section.li {
  color: gray;
  padding-top: 4px;
}
